# Virtual environments
.venv/
venv/
env/
node_modules/
django_proxy/data/areas.gpkg
django_proxy/data/deals.gpkg
django_proxy/data/reports
.idea
.vscode
.package-lock.json
website/dist
*.geojson
# Dependencies
*.pyc
__pycache__/
report.json
R_script/.gitignore
django_proxy/api/management/commands/logs
*.flag
*.sqlite3
explorator.py