
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {--main-bg-color : #fc941d; }

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    z-index: 2000;
}

.top-content {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--main-bg-color);
    color: white;

}
.top-content h2 {
    font-size: 20px;
    margin: 0;
}
#top-left {
    justify-content: flex-start; 
}

#top-center {
    justify-content: center;
    background-color: var(--main-bg-color);
    padding: 5px 20px;
    border-radius: 8px;
    height: fit-content;
    font-size: 24px;
    font-weight: normal;
}


#top-right {
    justify-content: flex-end; 
}

.main-logo {
    height: 45px;
}

.partner-logo {
    height: 50px;
}



.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.main-content {
    flex: 1;
    position: relative;
}

.side-panel {
    width: 307px;
    background: #f9f9f9;
    padding: 15px;
    flex-shrink: 0;

    border-left: 1px solid #ddd;

    margin-top: 70px; 
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.left-group,
.right-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-group-text {
    background: #fff;
    border-radius: 6px;
    padding: 4px 8px;
}

.form-select {
    min-width: 150px;
    padding: 4px 8px;
}

.btn {
    border-radius: 6px;
    padding: 4px 10px;
}



#drop-area {
    padding: 12px;
    background: #f8f8f8;
    border: 2px dashed #999;
    border-radius: 10px;
    text-align: center;
}

#drop-area.highlight {
    border-color: var(--main-bg-color);
    background: #eef6ff;
}
#map {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
}
#map.highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(238, 246, 255, 0.3);
    border: 3px solid #43b6b5;
    pointer-events: none;
    z-index: 1000;
}


#known-point-panel {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    margin-top: 10px;
    display: none; 
}

#known-point-panel label {
    font-size: 13px;
    margin-top: 8px;
}

#known-point-panel input {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}
