
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}



.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fc941d;

    display: flex;
    justify-content: space-between; 
    align-items: center;

    padding: 0 20px;
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.top-left, .top-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-left {
    justify-content: flex-start; 
}

.top-right {
    justify-content: flex-end; 
}

.top-title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    white-space: nowrap;
}

.main-logo {
    height: 45px;
}

.partner-logo {
    height: 50px;
}



.app-container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.main-content {
    flex: 1;
    position: relative;
}


#map {
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0;
    bottom: 0;
}



.side-panel {
    width: 307px;
    background: #f9f9f9;
    padding: 15px;
    flex-shrink: 0;

    border-left: 1px solid #ddd;

    margin-top: 70px; 
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.left-group,
.right-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.input-group-text {
    background: #fff;
    border-radius: 6px;
    padding: 4px 8px;
}

.form-select {
    min-width: 150px;
    padding: 4px 8px;
}

.btn {
    border-radius: 6px;
    padding: 4px 10px;
}



#drop-area {
    padding: 12px;
    background: #f8f8f8;
    border: 2px dashed #999;
    border-radius: 10px;
    text-align: center;
}

#drop-area.highlight {
    border-color: #fc941d;
    background: #eef6ff;
}



#known-point-panel {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
    margin-top: 10px;
    display: none; 
}

#known-point-panel label {
    font-size: 13px;
    margin-top: 8px;
}

#known-point-panel input {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}



#basemap-section {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

#basemap-section h5 {
    margin-bottom: 10px;
}

.basemap-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
    cursor: pointer;
    user-select: none;
}

.basemap-option input[type="radio"] {
    display: none;
}


.radio-custom {
    width: 16px;
    height: 16px;
    border: 2px solid #888;
    border-radius: 50%;
    position: relative;
}

.basemap-option input[type="radio"]:checked + .radio-custom {
    border-color: #fc941d;
}

.basemap-option input[type="radio"]:checked + .radio-custom::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fc941d;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
}